---
layout: default
---

	{% for post in paginator.posts %}
		<div class="article group">
			<h2 class="article_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
			<div class="article_meta">
				<div class="article_date">{{ post.date | date: "%b %-d, %Y" }}</div>
				{% include social_buttons.html %}
				<div style="clear:both"></div>
			</div>
			<div class="article_text">
				{{ post.excerpt }}
				<p></p>
			</div>
			<div class="article_hidden">{{ post.content }}</div>
			<!--div class="article_read_more"><span><a href="{{ post.url | prepend: site.baseurl }}">but
				Read more...
			</a></span></div-->
		</div>
	{% endfor %}
	<div style="clear:both"></div>

	<div id="archive_pagination">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}" class="previous">&laquo; previous</a>
		{% endif %}
		<span class="page_number">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}" class="next">next &raquo;</a>
		{% endif %}
	</div>

	<script src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>